.flower4 {
    animation: transitionIn 7s;
}

.flower3 {
    animation: transitionIn 10s;
}

.flower1 {
    animation: transitionIn 14s;
}

.bird {
    animation: transitionIn 15s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}